.footer {
  background: linear-gradient(#a6a6a6, #d2d2d2);

  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-list {
  display: flex;
  align-items: center;

  padding: 0;
}

.footer i {
  font-size: 2.5rem;
  padding: 0 1rem;
}
