.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 7;
  color: #d2d2d2;
  /* background: linear-gradient(rgba(11, 34, 54, 0.4), rgb(12, 77, 98, 0.7)); */
}

.burger {
  width: 3rem;
  height: 3rem;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.beef {
  position: relative;
  width: 100%;
  height: 2px;
  background: #d2d2d2;
  transition: all 0.5s ease;
}

.beef::before,
.beef::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d2d2d2;
  transition: all 0.5s ease;
}

.beef::before {
  transform: translateY(-10px);
}

.beef::after {
  transform: translateY(10px);
}

.burger.open .beef {
  transform: translateX(-50%);
  background: transparent;
}

.burger.open .beef::before {
  transform: rotate(45deg) translate(20px, -20px);
}
.burger.open .beef::after {
  transform: rotate(-45deg) translate(20px, 20px);
}
