.menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.link {
  color: white;
  font-size: 2rem;
}
